@font-face {
    font-family: "Municipal";
    src: url("/Municipal.ttf") format("ttf");
}

@font-face {
    font-family: "Rockwell";
    src: url("/ROCK.TTF") format("ttf");
}

body{
    background-color: #000000;
}

.card{
    margin: 1px;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
}

.card-title{
    font-family: 'Municipal';
    margin: 0.1in;
}

.card-description{
    font-family: 'Rockwell';
    height: 1.5in;
    margin: 0.1in;
}

.card-image {
    margin: 0.1in;
    border-radius: 0.1in;
    border-color: #FFFFFF;
    border-width: 0.1in;
    border-style: solid;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    flex-grow: 1;
}

.page{
    display: grid;
    grid-template-columns: repeat(auto-fill, 2.5in);
    grid-auto-rows: 3.5in;
    background-color: #FFF;
    width: 8.5in;
    height: 11in;
}

@page {
    margin: 0;
}
