body{
    background-color: #000000;
}

.card{
    background-color: green;
    margin: 1px;
    border: solid 1px black;
}

.card-title{
    background-color: #FF0000;
    margin: 0.1in;
}


.page{
    display: grid;
    grid-template-columns: repeat(auto-fill, 2.5in);
    grid-auto-rows: 3.5in;
    background-color: #FFF;
    width: 8.5in;
    height: 11in;
}

@page {
    margin: 0;
}
